Lead Intake.json
{
  "name": "Lead Intake",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "lead-intake",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "f1e02c25-4a05-4d55-8dfd-e8707b2c3df7",
      "name": "Webhook",
      "webhookId": "ce45ddf9-0ea7-400b-b67e-9b011aa76104"
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "mode": "id",
          "value": "app6fwQoN8Mxl7hn3"
        },
        "table": {
          "__rl": true,
          "value": "tblvw6jLbbrrKpNvx",
          "mode": "list",
          "cachedResultName": "Leads",
          "cachedResultUrl": "https://airtable.com/app6fwQoN8Mxl7hn3/tblvw6jLbbrrKpNvx"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "={{ $json.body.name }}",
            "Notes": "={{ $json.body.notes }}",
            "Phone": "={{ $json.body.phone }}",
            "Email": "={{ $json.body.email }}",
            "Source": "={{ $json.body.source }}",
            "Status": "new"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Notes",
              "displayName": "Notes",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "new",
                  "value": "new"
                },
                {
                  "name": "called",
                  "value": "called"
                },
                {
                  "name": "booked",
                  "value": "booked"
                },
                {
                  "name": "no-show",
                  "value": "no-show"
                },
                {
                  "name": "closed",
                  "value": "closed"
                },
                {
                  "name": "lost",
                  "value": "lost"
                },
                {
                  "name": "",
                  "value": ""
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Attachments",
              "displayName": "Attachments",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Attachment Summary",
              "displayName": "Attachment Summary",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Phone",
              "displayName": "Phone",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Source",
              "displayName": "Source",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Created",
              "displayName": "Created",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.2,
      "position": [
        416,
        0
      ],
      "id": "bc1f6c11-0719-4f76-a723-2d941c292c40",
      "name": "Create a record",
      "credentials": {
        "airtableTokenApi": {
          "id": "QGGcFU9BAvEHhiuY",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Edit Fields').item.json.email }}",
        "subject": "=Thanks for your interest, {{ $('Edit Fields').item.json.name }}!",
        "message": "=Hi {{ $('Edit Fields').item.json.name }}, Thank you for reaching out! We have received your enquiry and one of our team members will be in touch with you shortly. Best regards, The Team",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        624,
        0
      ],
      "id": "5b73b097-c7ac-4949-8781-7f2b868f55df",
      "name": "Send a message",
      "webhookId": "ad69e022-d0ed-4799-985d-c479c9c6ce80",
      "credentials": {
        "gmailOAuth2": {
          "id": "yfmE4KMfsmwM4SFh",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.vapi.ai/call",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {}
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"assistantId\": \"d763fc1d-6c7f-4999-9659-657d922a3740\",\n  \"phoneNumberId\": \"f8b33399-b44b-4aa9-b5a1-90ea67b62f65\",\n  \"customer\": {\n    \"number\": \"{{ $('Edit Fields').item.json.phone }}\",\n    \"name\": \"{{ $('Edit Fields').item.json.name }}\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        832,
        0
      ],
      "id": "52cec83f-7a07-42e0-b46a-78f763b7b08b",
      "name": "HTTP Request",
      "credentials": {
        "httpHeaderAuth": {
          "id": "qsnnS0rEYSTuNtuM",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "44285dd1-4198-499c-86ca-37c869e5eb01",
              "name": "name",
              "value": "={{ $json.body.data.fields[0].value }}",
              "type": "string"
            },
            {
              "id": "b9a064cb-e1e7-49e0-919f-374eebcbbaa6",
              "name": "phone",
              "value": "={{ $json.body.data.fields[1].value }}",
              "type": "string"
            },
            {
              "id": "52adccc3-b675-4923-8593-048e35289983",
              "name": "email",
              "value": "={{ $json.body.data.fields[2].value }}",
              "type": "string"
            },
            {
              "id": "a7f2243b-1362-4c96-81e4-f13dab7e6936",
              "name": "source",
              "value": "={{ $json.body.data.fields[2].value }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        0
      ],
      "id": "0bc96457-46d7-479e-8c2d-2929a25a6680",
      "name": "Edit Fields"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a record": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Create a record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "90a01738-f27f-4ab9-8d5e-ddeeeb201fa3",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a1c0e3b298720eee2566829ff04c52c6c4858b534b43d9fbcfad2cffa64ce104"
  },
  "id": "GspOkrzAgJ7AtZZS",
  "tags": []
}